@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-VariableFont.ttf);
}

@font-face {
  font-family: 'MavenPro';
  src: url(./fonts/MavenPro-VariableFont_wght.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mapboxgl-popup-content {
  min-width: 13rem;
  max-height: 10rem;
  background: #e3e2df;
  padding: 0;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #e3e2df;
}
